 .u-section-1 {
  background-image: none;
  min-height: 590px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.8);
}

.u-section-1 .u-layout-wrap-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 349px;
}

.u-section-1 .u-shape-1 {
  width: 281px;
  height: 386px;
  background-image: none;
  margin-top: -28px;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 80px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Lobster, display;
  margin: -313px 0 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 29px 35px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 171px 0 0;
}

.u-section-1 .u-btn-1 {
  position: relative;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -42px auto 0 136px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 366px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-shape-1 {
    width: 232px;
    margin-top: -27px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -316px;
    margin-right: -20px;
    margin-left: 52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 55px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-1 .u-shape-1 {
    width: 177px;
    margin-right: 51px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -311px;
    margin-right: -12px;
    margin-left: 39px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 114px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 793px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-top: 95px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-shape-1 {
    width: 166px;
    margin-top: -32px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -309px;
    margin-right: -33px;
    margin-left: 51px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -12px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 34px;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 878px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-1 .u-shape-1 {
    width: 140px;
    margin-top: -86px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -328px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 110px;
    margin-right: 149px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -41px;
    margin-right: 47px;
    margin-bottom: -205px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/african-american-elementary-students-using-computer-following-classes-online-due-to-coronavirus-pandemic-196987995.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 30px auto 30px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: Anton;
  width: 134px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 18px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-family: Anton;
  width: 134px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 18px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-family: Anton;
  width: 134px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 1px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-family: Anton;
  width: 134px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 18px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 97px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 678px;
}

.u-section-3 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 95px auto 70px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-family: Anton;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-line-1 {
  width: 294px;
  position: relative;
  margin: 30px 20px 50px;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-image-1 {
  background-image: url("images/online-education-expat-980x515.jpg");
  min-height: 254px;
  background-position: 100% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/istockphoto-1285963575-612x612.jpg");
  min-height: 254px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/images1.jpg");
  min-height: 508px;
  background-position: 22.93% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 242px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 185px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 9.86%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 174px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 146px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: linear-gradient(45deg, #715a3c, #332f29);
}

.u-section-4 .u-sheet-1 {
  min-height: 913px;
}

.u-section-4 .u-text-1 {
  width: 740px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 195px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 517px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-1 {
  min-height: 170px;
  height: auto;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
  margin-top: -51px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 71px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-2 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  height: auto;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 517px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-3 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  height: auto;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 116px;
  margin: 24px auto 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 8px 12px 0;
}

.u-section-4 .u-text-12 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-13 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 152px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 517px;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 23px 30px 30px;
}

.u-section-4 .u-group-4 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  height: auto;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 1.25rem;
  width: 128px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px 12px 0;
}

.u-section-4 .u-text-16 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-17 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 4px 4px 0px 0 rgba(0,0,0,0.1);
  margin: 112px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-group-1 {
    width: 191px;
    margin-top: -58px;
    margin-right: 122px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 20px;
    margin-left: 32px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 39px;
    margin-right: 14px;
    margin-left: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-4 .u-group-2 {
    width: 191px;
    margin-left: auto;
    height: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 12px;
    margin-left: 19px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 562px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-3 {
    width: 174px;
    margin-top: -53px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .u-section-4 .u-text-11 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-top: 50px;
    margin-left: 18px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 175px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 562px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-4 {
    width: 181px;
    margin-top: -53px;
    margin-right: 117px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-17 {
    width: auto;
    margin-top: 60px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 191px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 184px;
    margin-top: -60px;
    margin-right: 59px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 71px;
    margin-right: 42px;
    margin-left: 35px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 184px;
    margin-top: -53px;
    margin-right: 57px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 47px;
    margin-right: 30px;
    margin-left: 36px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 50px;
    margin-left: 63px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 30px 11px 0;
  }

  .u-section-4 .u-group-3 {
    width: 297px;
    margin-top: 0;
    margin-left: 7px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 36px;
    margin-right: 85px;
    margin-left: 50px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 97px;
    margin-left: 76px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 603px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-group-4 {
    min-height: 177px;
    width: 271px;
    margin-top: 0;
    margin-right: 11px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 67px;
    margin-right: 50px;
    margin-left: 43px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -21px;
    margin-right: 134px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    width: 306px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 75px;
    margin-right: 134px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 598px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -20px;
    margin-right: 141px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 14px;
    margin-right: 46px;
    margin-left: 53px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 49px;
    margin-right: 146px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 598px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 84px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-13 {
    width: 313px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 153px;
    margin-right: 141px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 598px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-4 {
    margin-right: auto;
    margin-left: 94px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 28px;
    margin-right: 115px;
    margin-left: 122px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 255px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -31px;
    margin-right: 61px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-5 {
    width: 244px;
    margin-top: 40px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 70px;
    margin-right: 69px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 56px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-9 {
    width: 244px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 45px;
    margin-right: 73px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 23px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-13 {
    width: 202px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 126px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 572px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-group-4 {
    margin-left: auto;
  }

  .u-section-4 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-17 {
    margin-left: 42px;
    margin-right: 35px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 66px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/african-american-small-child-checking-tasks-online-school-class-concentrated-little-cute-girl-modern-wireless-headphones-196102374.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 756px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: 121px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 544px;
}

.u-section-5 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 43px auto 0 20px;
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 43px 20px 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 23px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 544px;
}

.u-section-5 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: 53px auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 38px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 17px 20px 0;
}

.u-section-5 .u-group-1 {
  width: 372px;
  min-height: 523px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -524px 0 60px auto;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 16px;
}

.u-section-5 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-family: Anton;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 298px;
  position: relative;
  margin: 30px 20px 0 auto;
}

.u-section-5 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
  margin-top: 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 624px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 16px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 16px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-group-1 {
    width: 307px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 245px;
    height: 3px;
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin: 46px 0 24px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 478px;
    margin-top: 202px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-group-1 {
    width: 235px;
    min-height: 635px;
    margin-top: -432px;
    margin-right: -13px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 188px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 448px;
    margin-top: 433px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 38px;
    margin-right: auto;
    margin-left: 195px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 48px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-group-1 {
    min-height: 387px;
    margin-top: -876px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 8px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 176px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 556px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 38px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 267px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 143px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-group-1 {
    min-height: 490px;
    margin-top: -973px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 11px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 6px;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 148px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    margin: 40px 0 50px 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/EDEM-with-Ghana-Code-Kids-640x423.jpg");
  min-height: 993px;
  background-position: 50% 50%;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 328px;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: -424px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 711px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/depositphotos_79545232-stock-photo-mature-african-american-man.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 10px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/072722-tara-t-green.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/Patterson-Headshot-Website-1-e1564607448810.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-image-4 {
  width: 180px;
  height: 180px;
  background-image: url("images/Kia-CaldwellSource-1024x683.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-12 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-13 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px;
}

.u-section-6 .u-image-5 {
  width: 180px;
  height: 180px;
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-15 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-16 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-image-6 {
  width: 180px;
  height: 180px;
  background-image: url("images/istockphoto-1353379051-170667a.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-18 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-19 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px;
}

.u-section-6 .u-image-7 {
  width: 180px;
  height: 180px;
  background-image: url("images/istockphoto-1153955734-612x612.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-20 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-21 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-22 {
  margin: 10px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px;
}

.u-section-6 .u-image-8 {
  width: 180px;
  height: 180px;
  background-image: url("images/istockphoto-1353379051-170667a.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-23 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-24 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-25 {
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1879px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-11 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-14 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-17 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-20 {
    font-size: 1.88235rem;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-23 {
    font-size: 1.88235rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 719px;
}

.u-section-7 .u-group-1 {
  min-height: 133px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-family: Anton;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 60px 0;
}

.u-section-7 .u-line-1 {
  height: 112px;
  transform-origin: center top 0px;
  width: 10px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px 35px 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 424px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 60px;
}

.u-section-7 .u-image-1 {
  width: 167px;
  height: 168px;
  margin: -24px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 30px 60px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 60px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 424px;
  background-position: 0% 0%;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 38px;
}

.u-section-7 .u-image-2 {
  width: 167px;
  height: 168px;
  margin: -24px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 30px 60px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-7 .u-group-1 {
    min-height: 187px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-right: 149px;
    margin-left: 20px;
  }

  .u-section-7 .u-line-1 {
    width: 8px;
    margin-top: -39px;
    margin-right: 30px;
    margin-bottom: 45px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 49px;
  }

  .u-section-7 .u-image-1 {
    width: 90px;
    height: 90px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 49px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 31px;
  }

  .u-section-7 .u-image-2 {
    width: 90px;
    height: 90px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 49px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 94px;
    margin-left: 13px;
  }

  .u-section-7 .u-line-1 {
    width: 6px;
    margin-right: 22px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 38px;
  }

  .u-section-7 .u-image-1 {
    width: 79px;
    height: 79px;
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 38px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 24px;
  }

  .u-section-7 .u-image-2 {
    width: 69px;
    height: 69px;
    margin-top: 25px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 33px;
    margin-right: 22px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 71px;
    margin-left: 9px;
  }

  .u-section-7 .u-line-1 {
    margin-right: 17px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 28px;
  }

  .u-section-7 .u-image-1 {
    width: 65px;
    height: 65px;
    margin-top: 52px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 28px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 417px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 18px;
  }

  .u-section-7 .u-image-2 {
    width: 65px;
    height: 65px;
    margin-top: 59px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 44px;
  }

  .u-section-7 .u-line-1 {
    width: 5px;
    margin-top: -14px;
    margin-right: 10px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 18px;
  }

  .u-section-7 .u-image-1 {
    width: 54px;
    height: 54px;
    position: relative;
    margin-top: 13px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 18px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 11px;
  }

  .u-section-7 .u-image-2 {
    width: 54px;
    height: 54px;
    margin-top: 21px;
    position: relative;
  }

  .u-section-7 .u-text-4 {
    margin-right: 7px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 24px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 580px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 37px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 37px 0 100px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-8 .u-text-1 {
    font-weight: 700;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 470px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 100px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px;
}

.u-section-9 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Adrien.png");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 677px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 142px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 233px;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-10 .u-text-1 {
  font-family: Anton;
  margin: 20px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-text-3 {
  width: 450px;
  margin: 2px auto 0;
}

.u-section-10 .u-text-4 {
  width: 450px;
  margin: 20px 0 25px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 178px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 60px;
}

.u-section-10 .u-text-5 {
  font-family: Anton;
  margin: 15px 206px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 411px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-10 .u-text-3 {
    width: 371px;
  }

  .u-section-10 .u-text-4 {
    width: 371px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 49px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 20px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-10 .u-text-3 {
    width: 284px;
  }

  .u-section-10 .u-text-4 {
    width: 284px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 38px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-10 .u-text-3 {
    width: 266px;
  }

  .u-section-10 .u-text-4 {
    width: 266px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 28px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-10 .u-text-3 {
    width: 224px;
  }

  .u-section-10 .u-text-4 {
    width: 224px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 18px;
  }

  .u-section-10 .u-text-5 {
    margin-right: 6px;
  }
}